body{
  background-color: aquamarine;
  color: dimgrey;
}
.text{
 text-align: center; font-weight: bold;
}
.img{
  display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 400px;
}
.img2{
  display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 200px;
}
table, th, td {
   border: 1px solid black;
}
